@tailwind base;

.body {
	@apply antialiased text-gray-800;
}

@tailwind components;

.appearance-none {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.transition {
	transition: 0.2s ease;
}

.emphasized {
	@apply text-gray-800;
}

.text-cyan {
	color: #008f94;
}

@tailwind utilities;
